body {
        padding: 0px;
        margin: 0px;
}

.header{
        height: 60px;
        line-height: 60px;
        padding: 20px;
        background-color: #DDDA25
}
h1 {
    float: left;
    margin: 0px;
}

.navigation li{
                float: left;
                margin-left: 20px;
                
}
.navigation a{
            color: black;
            text-decoration: none;
}

.navigation {
    float: right;
    padding: 0px;
    margin: 0px;
    list-style-type: none;

}

.content {
            width: 70%;
            float: left;
            background-color: #D3D3D3;
            min-height: 600px;
            
}

.sidebar { 
        width: 30%;
        float: left;
        background-color: #4d4d4d;
        color: white; 
        min-height: 600px;
}

.sidebar p {
        margin: 20px;


}
.main p {
    margin: 20px;
}
.blog-post1 {
      
        border: 1px lightgray;
        border-radius: 3px;
        margin: 10px;
        padding: 10px;
        background-color: white;
}

.blog-post2 {
    
      border: 1px lightgray;
      border-radius: 3px;
      margin: 10px;
      padding: 10px;
      background-color: white;
}

.blog-post3 {
    
      border: 1px lightgray;
      border-radius: 3px;
      margin: 10px;
      padding: 10px;
      background-color: white;
}

img {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
}
